<!DOCTYPE html>

<html ng-app="movieApp">

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="app.js"></script>
    <script src="scripts/services/authenticationService.js"></script>
    <script src="scripts/services/movieService.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/details.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/contact.js"></script>


    <link rel="stylesheet" href="styles.css">
</head>

<body>

<nav class="navbar">

    <a class="navbar-brand navbar-brand-left" href="#">Movies DB</a>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link" href="#!"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a class="nav-link" href="#!about"><i class="fa fa-shield"></i> About</a>
        </li>
        <li>
            <a class="nav-link" href="#!contact"><i class="fa fa-comment"></i>Contact</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" ng-controller="searchController">
        <input class="form-control mr-sm-2"
               type="text"
               ng-model="searchText"
               placeholder="Search a movie"
               aria-label="Search">
        <button class="btn btn-search my-2 my-sm-0" type="submit" ng-click="search()">Search</button>
    </form>
</nav>

<div id="main">
    <div ng-view></div>
</div>

<footer class="text-center">

</footer>

</body>

</html>
