.navbar {
    margin-bottom: 0;
    background-color: #585858;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #585858 !important;
    background-color: #fff !important;
    float: left
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand-left {
    position: absolute;
    left: 10%;
    display: block;
    width: 180px;
    text-align: left;
    background-color: transparent;
}

.navbar-brand-right {
    position: absolute;
    left: 10%;
    display: block;
    width: 180px;
    text-align: right;
    background-color: transparent;
}

li {
    display: inline;
}

.btn-search {
    color: #585858 !important;
    background-image: none;
    border-color: #585858;
}

.icon {
    line-height: 6%;
    color: #1abc9c
}

.header {
    background-color: #1abc9c;
    margin-top: 2%;
    color: #ffffff;
}

.contact-info {
    margin-top: 6%;
    line-height: 35%
}

.contact-header {
    line-height: 20%;
}

.tags {
    border: 1px solid #DDD;
    display: inline-block;
    color: #717171;
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 2px;
    margin: 0 3px 6px 0;
    padding: 5px 10px
}