<div class="container">
    <div class="jumbotron jumbotron-sm header">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    {{movie.title}}
                    <small>({{movie.release_date}})</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <span class="tags" ng-repeat="genre in movie.genres">{{genre.name}}</span>
            <br/>
            <h3>
                Overview:
            </h3>
            <p>
                {{movie.overview}}
            </p>
            <button>Add to Favorite</button>
        </div>
        <div class="col-sm-7">
            <iframe ng-if="!!movie.trailer"
                    ng-src="{{movie.trailer}}"
                    width="600"
                    height="430"
                    frameborder="0"
                    style="border:0"
                    allowfullscreen></iframe>
        </div>
    </div>

</div>